:root {
  --primary-text-color: #757575;
  --secondary-color: #212121;
  --text-white: #ffffff;
  --accent-color: #2196f3;
  --primary-bgc: #ffffff;
  --secondary-bgc: #f5f4fa;
  --footer-bcg: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-bgc);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/*обнулюяю відступи окремих елементів**/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

/*задаю значення та спосіб відображення всіхелементів img*/
img {
  display: block;
  max-width: 100%;
}

/*параметри контейнера*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/*параметри секій*/
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/*Прибирає маркери списку*/
.list {
  list-style: none;
}

/*Header*/
header {
  border-bottom: solid 1px #ececec;
}

/*перелаштовує на flex елементи всередині heaer*/
.header.container {
  display: flex;
  align-items: center;
}

/*Логотип*/

.logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
  text-decoration: none;
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: var(--text-white);
}

/*Навігація сайту*/
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  display: block;
  padding: 32px 0;

  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav > li {
  margin-right: 50px;
}
.site-nav > li:last-child {
  margin-right: 0px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.curent {
  color: var(--accent-color);
}

/*Контакти*/

.top-contact.list {
  display: flex;
  margin-left: auto;
}

.header-contact {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

.top-contact.list > li:first-child {
  margin-right: 50px;
}

/*Body*/

/*Hero*/
.section.hero {
  background-color: var(--footer-bcg);
  padding: 200px 0;
  text-align: center;
  margin: 0 auto;
}

/*основний заголовок*/
.hero-title {
  margin: 0 auto;
  max-width: 696px;
  margin-bottom: 30px;

  color: var(--text-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*кнопка "замовити послугу"*/
.order {
  padding: 10px 32px;

  color: var(--text-white);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

.order :hover,
.order :focus {
  background: #188ce8;
}

/*переваги*/
.section.quality {
  padding-bottom: 0;
}

.quality.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
}

.quality-item {
  margin-left: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.quality-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.quality-text {
  font-weight: 400;
  line-height: 1.71;
}

/*Секція 3  чим ми займаємось*/

/*заголовки секцій*/
.section-title {
  margin: 0 auto;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
}

/*контент секції 3*/
.business .list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.list .item {
  margin-left: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

/*Секція 4  команда*/
.team {
  background: var(--secondary-bgc);
}

.team .list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

/*карточки "команда"*/
.team-list-item {
  margin-left: 30px;
  flex-basis: calc((100% - 30px * 4) / 4);

  background: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*заголовки карток*/
.item-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.position {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

/*заголовки карток - згруповані*/
.title-group {
  padding: 30px 0;
  text-align: center;
}

/*footer*/
footer {
  background: var(--footer-bcg);
  padding: 60px 0;
}

/*параметри логотипу у футері*/
footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0px;
}

/*адреса*/
.location {
  font-style: normal;
  line-height: 1.71;

  color: var(--text-white);

  margin-bottom: 9px;
}

/*контактні дані*/
.footer-contact {
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

.bottom.list > li:first-child {
  margin-bottom: 9px;
}

/*Portfolio*/

/*приховує заголовок секції*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Фільтр*/
.filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter > li:not(:last-child) {
  margin-right: 8px;
}

/*конпки фільтра*/
.filter-item {
  padding: 6px 22px;

  background-color: var(--secondary-bgc);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: var(--secondary-color);
  cursor: pointer;
}

.filter-item:hover,
.filter-item:focus {
  color: var(--text-white);
  background-color: var(--accent-color);
}

.filter-item.curent {
  color: var(--text-white);
  background-color: var(--accent-color);
}

/*Проекти*/
.project.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

/*карточки*/
.project-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 30px * 3) / 3);

  background-color: var(--primary-bgc);
}
.project-link {
  font-family: Roboto;
  text-decoration: none;
}
.project-link :hover,
.project-link :focus {
  visibility: visible;
}

/*заголовки карток - згруповані*/
.item-group {
  padding: 20px 24px;
  border: solid 1px #eeeeee;
  border-top: none;
}

/*заголовки карток*/
.project-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-color);
}
.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
